<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  
   {{>navbar}}

   <div class="containter-fluid main_header">
    <div class="row">   
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                      <img src="images/clear sky.jpg" alt="yogesh" class="img-fluid" title="Yogesh Jangra">
                    </figure>
                </div>

                <div class="col-md-6 col-12 main_header_left">
                    <p>Programer Arena</p>
                    <h1><span class="text_clr">Coder and developer</span> </h1>
                    <a href="/weather"><button>About Yogesh</button></a>
                </div>

            </div>
        </div>
    </div>
   </div>   
    

   <footer>
    <p> created with ❤️ by Yogesh Jangra </p>
   </footer>
   

</body>
</html>